@import url("normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600;700&display=swap");
@import url("swiper-bundle.min.css");
* {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBook.woff") format('woff');
  font-weight: normal;
  font-display: swap;
  font-style: normal;
  }
body {
  font-family: 'Noto Sans', sans-serif;
}
.mobile-menu {
  display: none;
}
.container {
  max-width: 90rem;
  margin: auto;
}
.navbar {
  display: flex;
  align-items: center;
  color: #fff;
  height: 5.875rem;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid rgba(235, 235, 240,0.2);
  transition: background-color 0.2s, height 0.2s;
}
.navbar-light {
  background-color: #fff;
  color: #292D33;
  border: 0;
}
.navbar-light .logo-light {
  display: none;
}
.navbar-light .logo-dark {
  display: block;
}
.navbar-scroll {
  height: 4.5rem;
}
.phone-icon {
  fill: #5C8EE6;
}
.logo-dark {
  display: none;
}
.logo-svg {
  width: 9rem;
  height: 2.75rem;
}
.navbar-light .header-logo-path {
  fill: #292D33;;
}
.header {
  padding-top: 6.25rem;
  margin-bottom: 9.1rem;
}
.no-webp .header-image {
  background-image: url(../img/header-bg.jpeg);
}
.header-image {
  background-image: url('../img/header-bg.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom -6rem;
  position: relative;
}
.header-image::before {
  content: "";
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.header-logo {
  display: flex;
  align-items: center;
  padding: 0 3.125rem;
  border-right: 1px solid rgba(235, 235, 240,0.2);
  height: 100%;
}
.header-nav {
  display: flex;
  align-items: center;
  height: 100%;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  padding-left: 3.125rem;
  margin: 0;
}
.header-nav-item {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-nav-item:not(:last-child) {
  margin-right: 49px;
}
.header-nav-link {
  display: flex;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 1rem;
  word-spacing: 0.4px;
  color: inherit;
  position: relative;
}
.header-nav-link:after {
  content: '';
  width: 0px;
  height: 2px;
  position: absolute;
  bottom: -1px;
  background-color: #5c8ee6;
  transition: width 0.2s;
  right: 0;
  left: auto;
}
.header-nav-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}
.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  margin-right: 3.1rem;
}
.header-phone-link {
  text-decoration: none;
  font-size: 1rem;
  color: inherit;
}
.button {
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #ffffff;
  background: #3A71D1;
  padding: 1.5625rem 3.75rem;
  border: none;
  display: inline-block;
  cursor: pointer;
}
.navbar-button {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  padding: 25px 50px 25px 49px;
}
.navbar-button .button-icon {
  display: none;
}
.header-button {
  height: 100%;
}
.seporator {
  background: #5C8EE6;
  width: 9.375rem;
  height: 2px;
  margin-top: 0.3125rem;
}
.header-content {
  padding-top: 8.775rem;
  position: relative;
  z-index: 1;
  color: #fff;
}
.page-header {
  padding-top: 8.7rem;
  padding-bottom: 3.125rem;
  color: #292d33;
  position: relative;
}
.page-header-thumb {
  position: absolute;
  bottom: 0;
  right: 10%;
  max-width: 30rem;
}
.page-header-bg-image {
  background-image: url("../img/blog/blog-photo.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
}
.page-header-bg-image:before {
  content: "";
  left: 0;
  top: 0;
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.6);
}
.page-header-bg-image .container {
  position: relative;
}
.page-header-bg-grey {
  background: #f0f2f5;
}
.page-header-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 5rem;
  line-height: 120%;
  color: inherit;
  margin-top: 1.375rem;
  margin-bottom: 1.85rem;
}
.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 10px;
}
.breadcrumbs-link {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  text-decoration: none;
  color: inherit;
}
.breadcrumbs-link {
  color: #828a99;
}
.breadcrumbs-item.active .breadcrumbs-link {
  color: #292d33;
}
.breadcrumbs-item:not(:last-child)::after {
  content: "—";
  margin-left: 10px;
}
.page-header-bg-image .breadcrumbs-link,
.page-header-bg-image .breadcrumbs-item.active .breadcrumbs-link {
  color: #fff;
}
.header-title {
  max-width: 67.5rem;
  font-family: "Bebas Neue";
  font-size: 5rem;
  line-height: 122%;
  margin-top: 1.375rem;
  margin-bottom: 2rem;
  letter-spacing: 0.7px;
  word-spacing: -0.8px;
}
.header-text {
  max-width: 45rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 163%;
  margin-bottom: 3.2rem;
  letter-spacing: -0.1px;
  word-spacing: 1.3px;
}
.header-features {
  display: flex;
  min-height: 10.5rem;
  padding: 0;
  margin-top: 6.3rem;
  list-style: none;
  color: #fff;
  position: relative;
  margin-bottom: 0;
}
.header-features-item {
  display: block;
  padding: 1.75rem 3rem 1.75rem 3rem;
  width: 18.75rem;
  border: 1px solid rgba(235, 235, 240, 0.2);
}
.header-button {
  padding: 25px 60px;
}
.header-features-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin-bottom: 0;
  margin-top: 1.125rem;
}
.slider-buttons {
  display: none;
  height: 44px;
  position: relative;
  z-index: 5;
}
.slider-button-prev,
.slider-button-next {
  height: 100%; /*от slider-buttons родителя*/
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.section-title {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  word-spacing: 2px;
  line-height: 120%;
  color: #292D33;  
  margin-top: 1.4375rem;
  margin-bottom: 2.25rem;
  word-spacing: -1.9px;
  letter-spacing: 0.6px;
}
.steps {
  display: flex;
  min-height: 12.5rem;
  list-style: none;
  padding-left: 0;
}
.steps-num {
  font-family: "Bebas Neue";
  font-weight: 600;
  font-size: 2.9375rem;
  letter-spacing: 1.5px;
  word-spacing: -1.4px;
  line-height: 120%;
  color: #5C8EE6;
  display: flex;
  align-items: center;
}
.steps-num:after {
  content: '';
  height: 1px;
  background: #EBEBF0;
  width: 300px;
  margin-left: 1.875rem;
  margin-right: 1.875rem;
}
.steps-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 162%;
  color: #292D33;
  margin-right: 3.375rem;
  margin-top: 2.275rem;
  margin-bottom: 0.625rem;
}
.steps-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 162%;
  color: #828A99;
  margin-right: 3.8125rem;
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
}
.button-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #5C8EE6;
}
.button-link-big {
  display: flex;
}
.button-link-small {
  display: none;
}
.button-link:before {
  content: '';
  height: 1px;
  background: #5C8EE6;
  width: 40px;
  margin-right: 1.3rem;
  transition: width 0.2s;
}
.primary-buttons-wrapper {
  display: flex;
  height: 60px;
  justify-content: flex-end;
}
.primary-button-prev, 
.primary-button-next {
  background: #5C8EE6;
  height: 100%;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.steps-buttons {
  display: none;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3.5rem;
  margin-bottom: 0.4375rem;
}
.card {
  text-decoration: none;
  flex-basis: 33.3%;
  border: 1px solid #ebebf0;
  position: relative;
  transition: border 0.2s;
}
.card-content {
  padding: 43px 0px 73px 49px;
}
.card-title {
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 140%;
  color: #292D33;
  margin-top: 0;
  margin-bottom: 0.625rem;
  transition: color 0.2s;
}
.card-text {
  font-size: 1rem;
  line-height: 158%;
  color: #828A99;
  margin-bottom: 19.925rem;
  margin-right: 5.875rem;
}
.card-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 100%;
}
.production {
  margin-top: 6.7rem;
  
}
.trademark {
  margin-top: 9.4rem;
}
.trademark-cards {
  display: flex;
  margin-top: 3.5rem;
  margin-bottom: 9.4rem;
}
.trademark-card {
  flex-basis: 50%;
  text-decoration: none;
  border: 1px solid #ebebf0;
  transition: border 0.2s;
  padding: 53px;
  display: grid;
  grid-template-columns: 177px 1fr;
  grid-template-rows: auto 2fr;
  grid-column-gap: 50px;
  grid-template-areas: 
  "logo title title" 
  "logo text text";
}
.trademark-card-logo {
  width: 100%;
  fill: #828A99;
  grid-area: logo;
}
.trademark-card-title {
  font-weight: 400;
  margin: 0;
  font-size: 1.75rem;
  line-height: 160%;
  color: #292D33;
  grid-area: title;
}
.trademark-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  grid-area: text;
  margin-top: 0.625rem;
}
.founder {
  min-height: 41.25rem;
  position: relative;
}
.founder-photo {
  position: absolute;
  left: 0;
  width: 50%;
  top: 0;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  padding-right: 7.5rem;
}
.founder-content {
  max-width: 45rem;
  margin-top: 2.8125rem;
}
.founder-content-wrapper {
  display: flex;
  justify-content: flex-end;
}
.founder-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-top: -0.4375rem;
  margin-bottom: 1.875rem;
}
.clients {
  margin-top: 9.4rem;
}
.clients-wrapper {
  display: flex;
  gap: 48px;
}
.clients-content {
  flex-basis: 48%;
}
.clients-list {
  list-style: none;
  padding: 0;
  columns: 2 auto;
  margin-right: -27px;
}
.clients-list-item {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #292D33;
  padding: 9px 0px 11px 0px;
}
.cosmetic-bs {
  display: flex;
}
.cosmetic-ss {
  display: none;
}
.clients-logo {
  max-width: 100%;
  width: 70px;
  height: 70px;
}
.clients-logo-list {
  flex-shrink: 10;
  display: flex;
  flex-wrap: wrap;
  margin: 30px -10px -40px -5px;
}
.clients-logo-item {
  flex-basis: 33%;
  border: 1px solid #ebebf0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  filter: grayscale(100%);
  transition: filter 0.2s;
}
.last {
  display: flex;
}
.blog {
  margin-top: 11.9rem;
}
.blog-cards {
  margin-top: 1.3rem;
}
.blog-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
}
.blog-card:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(41, 45, 51, 0.6);
  z-index: -1;
}
.blog-card-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}
.blog-card-title {
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 160%;
  margin-top: 0;
  margin-bottom: 10px;
}
.blog-card-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  margin: 0;
}
.blog-slider-footer {
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
  justify-content: space-between;
}
.blog-button-prev {
  padding-left: 14px;
}
.blog-button-next {
  padding-right: 12px;
}
.bg-grey {
  background: #F0F2F5;
}
.cta {
  margin-top: 11.5rem;
}
.section-cta {
  position: relative;
  padding-top: 4.3rem;
  margin-top: 14.1rem;
  padding-bottom: 6.17rem;
}
.cta-image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
  width: 50%;
}
.cta-form-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-left: 4.25rem;
}
.cta-form {
  max-width: 52.5rem;
}
.cta-form-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-top: -0.475rem;
  margin-bottom: 3.1rem;
  max-width: 40rem;
}
.input-group-wrapper {
  display: flex;
  gap: 1.875rem;
}
.input-group-vertical {
  display: flex;
  flex-direction: column;
}
.input-group {
  position: relative;
  width: 100%;
  height: 66px;
  flex-grow: 1;
  background-color: #F0F2F5;
}
.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.25rem 1.875rem;
  border: 1px solid #E4E4EB;
  background-color: inherit;
}
.input-group-label {
  position: absolute;
  cursor: text;
  top: 1.5rem;
  left: 1.975rem;
  font-weight: 400;
  font-size: 16px;
  color: #828A99;
  transition: top 0.2s, left 0.2s, font-size 0.2s;
}
.input:focus {
  border: 1px solid #5C8EE6;
  outline: 0;
}
.input:focus ~ .input-group-label,  
.input:not(:placeholder-shown).input:not(:focus) ~ .input-group-label {
  top: -0.3rem;
  left: 1.25rem;
  font-size: 0.625rem;
  background-color: inherit;
  padding: 0 10px;
}
.input.is-invalid {
  border: 1px solid red;
}
.just-validate-error-label {
  position: absolute;
  top: 0;
  right: 10px;
  background-color: inherit;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: translateY(-50%);
  font-size: 0.8rem;
  display: inline-block;
}
.cta-form-footer {
  gap: 1.875rem;
  display: flex;
  align-items: center;
  margin-top: 1.875rem;
}
.cta-form-button {
  flex-shrink: 0;
  padding: 1.25rem 3.25rem;
  font-size: 0.875rem;
}
.notify {
  display: flex;
  align-items: flex-start;
  gap: 0.625rem;
}
.notify-icon {
  flex-shrink: 0;
}
.notify-text {
  max-width: 23.75rem;
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: #828A99;
  margin: 0;
}
.footer-top {
  padding-top: 3.325rem;
  padding-bottom: 2.625rem;
  display: flex;
  align-items: center;
}
.footer-info {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #292d33;
  gap: 10px;
  margin-right: 3.125rem;
}
.footer-info-address, .footer-info-email {
  font-style: inherit;
  text-decoration: inherit;
  color: inherit;
}
.footer-logo {
  width: 12.5rem;
  height: 3.75rem;
  margin-right: 10rem;
}
.footer-phone {
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 160%;
  text-decoration-line: underline;
  color: #292D33;
  margin-right: 5.125rem;
}
.footer-social-link {
  text-decoration: none;
  margin-left: 0.6875rem;
}
.footer-seporator {
  color: #EBEBF0;
  background-color: #EBEBF0;
}
.footer-bottom {
  display: flex;
  padding-top: 2.725rem;
  padding-bottom: 1.625rem;
}
.footer-menu-title {
  margin-top: 0;
  margin-bottom: 1.9rem;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  margin-left: -0.125rem;
}
.footer-menu-list {
  margin: 0;
  padding-left: 1.25rem;
  list-style: none;
}
.footer-menu-column-2 {
  columns: 20rem auto;
  min-width: 45.1rem;
}
.footer-menu-link {
  text-decoration: none;
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-bottom: 0.9375rem;
  display: block;
}
.footer-menu-link-bold {
  font-style: normal;
  font-weight: 600;
  font-size: 1rem;
  line-height: 160%;
  color: #292D33;
  margin-bottom: 1.875rem;
}
.footer-menu-wrapper:last-child {
  margin-left: 10.5rem;
}
.footer-wrapper {
  font-style: normal;
  color: #828A99;
}
.footer-wrapper, 
.footer-legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 81px;
}
.footer-copyright, 
.footer-policy {
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 160%;
  color: inherit;
}
.made-in {
  font-size: 0.75rem;
  padding-right: 0.375rem;
}
.develop {
  display: none;
  font-size: 1rem;
  padding-right: 0.375rem;
}
.modal {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40, 45, 51, 0.5);
  z-index: 10;
  display: flex;
}
.modal.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
}
.modal.is-open .modal-dialog {
  transform: translateX(0);
  opacity: 1;
}
.modal-dialog {
  background-color: #fff;
  margin: auto;
  max-width: 28.75rem;
  padding: 2.3rem 3.125rem;
  position: relative;
  transform: translateY(-10%);
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
}
.modal-close {
  display: block;
  position: absolute;
  top: 40px;
  right: 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EBEBF0;
}
.modal-title {
  font-family: "Bebas Neue";
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 120%;
  color: #292D33;
  margin-top: 1.875rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.5px;
}
.modal-text {
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 164%;
  color: #828A99;
  margin-bottom: 1.975rem;
}
.modal-input-group {
  background-color: #fff;
}
.modal-form-footer {
  margin-top: 1.875rem;
}
.modal-form-button {
  display: block;
  width: 100%;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  padding: 1.1625rem 3.95rem;
}
.section-experts {
  display: flex;
  justify-content: space-between;
  min-height: 30rem;
  margin-top: 6.25rem;
  margin-bottom: 5.95rem;
}
.experts-content {
  max-width: 52.5rem;
  margin-top: 2.6875rem;
}
.experts-title {
  margin-bottom: 1.85rem;
}
.section-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828A99;
}
.about-features-text {
  color: #000;
}
.about-features-item {
  display: block;
  padding: 1.75rem 3rem 1.75rem 3rem;
  width: 18.75rem;
  border: 1px solid #EBEBF0;;
}
.about-features {
  margin: 0;
  margin-bottom: 9.375rem;
}
.section-mission {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9.175rem;
}
.mission-title {
  margin-bottom: 2rem;
}
.mission-content {
  max-width: 45rem;
  margin-top: 2.6875rem;
}
.mission-list {
  margin-right: 0.875rem;
  margin-top: 1.5625rem;
}
.section-center {
  margin-top: 9.375rem;
  margin-bottom: 9.375rem;
}
.center-title {
  margin-bottom: 0.8125rem;
}
.center-content {
  display: flex;
  gap: 6.25rem;
  margin-bottom: 2.5rem;
}
.center-card {
  display: flex;
  position: relative;
  min-height: 25rem;
  flex-direction: column;
  text-decoration: none;
  color: #fff;
  justify-content: flex-end;
  padding: 3.125rem;
}
.center-content-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828A99;
}
.center-slider-footer {
  justify-content: flex-end;
}
.section-contract-product {
  margin-top: 6.25rem;
}
.contract-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828A99;
}
.contracts-link {
  display: flex;
  gap: 0.9375rem;
  align-items: center;
  text-decoration: none;
}
.button-link-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  color: #5C8EE6;
}
.avtohim-content-wrapper {
  display: flex;
  justify-content: flex-end;
}
.product-avtohim {
  display: flex;
  min-height: 41.25rem;
  position: relative;
  margin-bottom: 9.375rem;
}
.product-avtohim-photo {
  position: absolute;
  right: 0;
  width: 45%;
  top: 0;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  padding-right: 7.5rem;
}
.product-avtohim-content {
  max-width: 45rem;
  margin-top: 2.8125rem;
}
.product-avtohim-content-wrapper {
  display: flex;
  justify-content: flex-start;
}
.product-avtohim-text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 160%;
  color: #828A99;
  margin-top: -0.4375rem;
  margin-bottom: 1.875rem;
}
.section-himlist {
  margin-bottom: 9.375rem;
}
.himlist-text {
  max-width: 52.5rem;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #828A99;
}
.him-list {
  list-style: none;
  padding: 0;
  columns: 4 auto;
  margin-right: -27px;
}
.politics-content {
  margin-top: 6.25rem;
  margin-bottom: 9.375rem;
}
.politics-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #292D33;
}
@media (hover: hover) and (pointer: fine) {
  .button-link:hover::before {
    width: 60px;
  }
  .card:hover .card-title {
    color: #5C8EE6;
  }
  .card:hover {
    border-color:#5C8EE6;;
  }
  .trademark-card:hover {
    border-color: #5C8EE6;
  }
  .trademark-card:hover .trademark-card-logo {
    fill: #5C8EE6;;
  }
  .trademark-card:hover .trademark-card-title {
    color: #5C8EE6;;
  }
  .clients-logo-item:hover {
    filter: grayscale(0%);
  }
}
@media (max-width: 1750px) {
  html {
    font-size: 14px;
  }
  .header-content {
    padding-top: 7rem;
  }
  .header-image {
    background-position: center;
  }
  .footer-phone {
    font-size: 1.5rem;
  }
  .footer-logo {
    margin-right: 3rem;
  }
}
@media (max-width: 1570px) {
  html {
    font-size: 13px;
  }
  .container {
    max-width: 80rem;
  }
  .header-content {
    padding-top: 6rem;
  }
  .header-logo {
    padding: 2rem;
  }
  .logo-svg {
    max-width: 6rem;
  }
  .header-nav {
    padding-left: 2rem;
  }
  .header-nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .header-phone {
    margin-right: 2rem;
  }
  .trading {
    display: none;
  }
  .founder-photo {
    width: 50%;
  }
  .cta-image {
    left: -8.25rem;
  }
  .footer-phone {
    margin-right: 2rem;
  }
}
@media (max-width: 1240px) {
  .container {
    max-width: 70rem;
  }
  .header-content {
    padding-top: 5rem;
  }
  .header-image {
    width: 100%;
  }
  .header-phone {
    display: none;
  }
  .navbar {
    height: 5.8rem;
  }
  .navbar-button {
    padding-left: 2.2rem;
    padding-right: 2.4rem;
  }
  .slider-buttons {
    display: flex;
  }
  .primary-buttons-wrapper {
    height: 40px;
  }
  .primary-button-prev, 
  .primary-button-next {
    width: 60px;
  }
  .card {
    flex-basis: 50%;
  }
  .trademark-card {
    grid-template-columns: auto auto;
  }
  .founder-content {
    max-width: 40rem;
  }
  .clients-content {
    flex-basis: 60%;
  }
  .cta-image {
    display: none;
  }
  .cta-form-wrapper {
    justify-content: center;
  }
  .footer-logo {
    margin-right: 5rem;
  }
  .footer-phone {
    display: none;
  }
  .footer-bottom {
    justify-content: space-between;
  }
  .footer-menu-column-2 {
    columns: 1;
    min-width: 5rem;
  }
  .footer-menu-wrapper:last-child {
    margin-left: 0;
  }
}
@media (max-width: 1050px) {
  html {
    font-size: 12px;
  }
  .container {
    max-width: 60rem;
  }
  .header-content {
    padding-top: 4rem;
  }
  .section-slider-buttons {
    display: flex;
  }
  .header-nav {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .logo-svg {
    max-width: 10rem;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem 2.5rem;
    border-right: 1px solid rgba(235, 235, 240,0.2);
  }
  .navbar-light .mobile-menu-line {
    background-color: #333;
  }
  .mobile-menu-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    transition: transform 0.2s;
  }
  .mobile-menu-line:nth-child(2) {
    width: 80%;
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
    fill: #ffffff;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
  .mobile-menu-nav {
    list-style: none;
    padding: 0;
  }
  .mobile-menu-nav-item {
    margin-bottom: 2rem;
  }
  .mobile-menu-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .mobile-submenu {
    list-style: none;
    padding: 0;
    padding-left: 1rem;
    margin-top: 1rem;
  }
  .mobile-submenu-link {
    text-decoration: none;
    color: #828a99;
    font-size: 14px;
    line-height: 160%;
  }
  .mobile-phone {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 160%;
    color: #292d33;
    text-decoration-line: underline;
    border-top: 1px solid #ebebf0;
    padding-top: 2rem;
    margin-bottom: 1.5rem;
  }
  .mobile-info {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  .mobile-info-address, 
  .mobile-info-email {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #292d33;
  }
  .close-menu .mobile-menu-line:nth-child(2) {
    display: none;
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
  .steps-buttons {
    display: flex;
  }
  .trademark-cards {
    flex-direction: column;
  }
  .founder-photo {
    width: 45%;
  }
  .clients-wrapper {
    flex-direction: column;
  }
  .footer-logo {
    margin-right: 3rem;
  }
  .footer-info {
    margin-right: 1rem;
  }
  .footer-social-link {
    margin-left: 0;
  }
}
@media (max-width:768px) {
  .container {
    max-width: 40rem;
  }
  .header-title {
    font-size: 4rem;
  }
  .header-content {
    padding-top: 4rem;
  }
  .card {
    flex-basis: 100%;
  }
  .founder-photo {
    position: relative;
    width: 100%;
    margin-bottom: 3.7rem;
    padding: 0;
  }
  .cta-form-footer, .input-group-wrapper {
    flex-direction: column;
  }
  .input-group {
    width: 100%;
  }
  .cta-form-button {
    width: 100%;
  }
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-phone {
    display: flex;
    padding-top: 1.875rem;
    padding-bottom: 1.25rem;
  }
  .footer-logo {
    margin: 0;
  }
  .footer-info {
    padding-bottom: 0.625rem;
  }
  .footer-social-link {
    padding-top: 0.625rem;
  }
  .footer-bottom {
    flex-direction: column;
  }
  .footer-menu-wrapper {
    margin-top: 1.875rem;
  }
  .footer-wrapper, .footer-legal {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }
  .footer-copyright {
    margin: 0;
  }
  .footer-author {
    margin-bottom: 1.25rem;
  }
  .develop {
    display: flex;
  }
  .made-in {
    display: none;
  }
  .footer-author {
    display: flex;
  }
}
@media (max-width:576px) {
  .container {
    max-width: 90%;
  }
  .steps {
    min-height: 200px;
  }
  .trademark-card {
    grid-template-areas: 
      "logo title"
      "text text";
  }
  .clients-list {
    columns: 1;
    margin-top: 2.6rem;
  }
  .clients-logo-item {
    flex-basis: 50%;
  }
  .blog-card-text {
    display: none;
  }
  .input-group-wrapper{
    flex-direction: column;
  }
  .cta-form-wrapper {
    margin-left: 3.5rem;
  }
}
@media (max-width:430px) {
  .close-menu .mobile-menu-line:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }
  .close-menu .mobile-menu-line:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }
  .header-button {
    width: 100%;
    font-size: 1.175rem;
    padding: 1.55rem 0rem;
  }
  .navbar {
    height: 5.5rem;
  }
  .navbar-button {
    padding-right: 2.4rem;
  }
  .header-content {
    padding-top: 3.22rem;
  }
  .header-title {
    line-height: 121%;
    margin-top: 1.21rem;
    letter-spacing: -0.1px;
    word-spacing: -1.8px;
    margin-bottom: 1rem;
  }
  .header-text {
    font-size: 1.2rem;
    letter-spacing: -0.4px;
    line-height: 153%;
    word-spacing: 1px;
    margin-bottom: 2.5rem;
  }
  .header-features {
    margin-top: 5.3rem;
  }
  .header-features-item {
    padding: 0.55rem 0rem 1.15rem 2.1rem;
  }
  .header-features-text {
    margin-top: 1.425rem;
  }
  .header {
    margin-bottom: 8.1rem;
  }
  .button-link-big {
    display: none;
  }
  .button-link-small {
    display: flex;
  }
  .seporator {
    width: 8.175rem;
  }
  .section-title {
    font-size: 2.8rem;
    margin-bottom: 2.1rem;
    word-spacing: 1px;
    letter-spacing: 0.8px;
    line-height: 124%;
  }
  .steps {
    min-height: 14.625rem;
    margin-top: 0.875rem;
  }
  .steps-num {
    font-size: 3.5rem;
  }
  .steps-title {
    margin-top: 1rem;
    margin-bottom: 0.425rem;
    letter-spacing: -1.2px;
  }
  .steps-text {
    font-size: 1.2rem;
    line-height: 159%;
    letter-spacing: -0.6px;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .steps-buttons {
    margin-top: 1.69rem;
    padding: 0;
  }
  .cards {
    margin-top: 2.8rem;
  }
  .card {
    width: 100%;
    height: 430px;
  }
  .card-content {
    padding: 0;
    padding-top: 1.69rem;
  }
  .card-title {
    word-spacing: -0.5px;
    letter-spacing: -0.5px;
    margin-bottom: 0rem;
    margin-left: 2rem;
    line-height: 123%;
    margin-right: 3.9625rem;
  }
  .card-text {
    font-size: 1.2rem;
    line-height: 142%;
    margin-top: 1.1125rem;
    margin-bottom: -0.2rem;
    margin-left: 2.065rem;
    margin-right: 3.175rem;
    letter-spacing: -0.2px;
    word-spacing: 0.1px;
  }
  .production {
    margin-top: 8.25rem;
  }
  .trademark {
    margin-top: 8.33rem;
  }
  .trademark-cards {
    margin-top: 2.8rem;
    margin-bottom: 8.25rem;
  }
  .trademark-card {
    width: 100%;
    height: 16.75rem;
    grid-column-gap: 5.25rem;
    grid-template-columns: auto 180px;
    grid-template-rows: 135px 132px;
    padding: 0;
  }
  .trademark-card-title {
    margin-top: 2.3875rem;
    letter-spacing: -1px;
    line-height: 129%;
  }
  .trademark-card-text {
    font-size: 1.2rem;
    margin-top: 1.225rem;
    margin-left: 1.5625rem;
    line-height: 148%;
    letter-spacing: -0.3px;
  }
  .trademark-card-logo {
    margin-left: 2.4875rem;
  }
  .founder-content {
    margin-top: 2.9125rem;;
  }
  .clients {
    margin-top: 8.25rem;
  }
  .clients-logo {
    width: 50px;
    height: 50px;
  }
  .clients-logo-item {
    flex-basis: 50%;
    padding: 0;
    width: 100%;
    height: 110px;
  }
  .clients-logo-list {
    margin: 0;
    margin-top: 0.625rem;
  }
  .clients-list {
    margin-top: 1.8rem;
    margin-right: 0;
  }
  .clients-list-item {
    padding-bottom: 0.5rem;
    font-size: 14px;
  }
  .last {
    display: none;
    border: none;
  }
  .cosmetic-bs {
    display: none;
  }
  .cosmetic-ss {
    display: flex;
  }
  .founder-photo {
    margin-bottom: 0.7rem;
    width: 100%;
  }
  .founder-text {
    font-size: 1.2rem;
    word-spacing: -1.7px;
    letter-spacing: -0.3px;
    line-height: 152%;
    margin-bottom: 1.745rem;
    margin-top: -0.725rem;
  }
  .clients-wrapper {
    gap: 4px;
  }
  .blog {
    margin-top: 8.2rem;
  }
  .blog-cards {
    margin-top: 1.2rem;
  }
  .blog-card {
    padding: 1.125rem;
    min-height: 16rem;
    margin-top: -0.25rem;
  }
  .blog-card-image, 
  .blog-card::before {
    width: 345px;
    height: 195px;
  }
  .blog-card-title {
    line-height: 110%;
    letter-spacing: -0.3px;
    word-spacing: 0.2px;
    margin-bottom: 0.375rem;
  }
  .blog-slider-footer {
    margin-top: 1.775rem;
  }
  .blog-button-prev {
    padding-left: 11px;
  }
  .blog-button-next {
    padding-right: 0;
  }
  .button-link {
    font-size: 1.15rem;
  }
  .cta {
    margin-top: 8.3rem;
  }
  .section-cta {
    margin-top: 0rem;
    padding-top: 2rem;
    padding-bottom: 4.27rem;
  }
  .cta-form-wrapper {
    margin-left: 1.3rem;
  }
  .cta-form-title {
    padding-top: 0.625rem;
  }
  .cta-form-text {
    font-size: 1.175rem;
    margin-top: -0.775rem;
    margin-bottom: 2.7rem;
    word-spacing: -0.5px;
    letter-spacing: -0.2px;
    line-height: 148%;
  }
  .input-group {
    width: 100%;
    height: 62px;
  }
  .cta-form-footer {
    margin-top: 0.0775rem;
  }
  .cta-form-button {
    font-size: 1.175rem;
    margin-top: 10px;
    padding: 1.65rem;
  }
  .input-group-wrapper {
    gap: 1.575rem;
  }
  .notify {
    margin-left: -2.725rem;
    margin-top: 0.7375rem;
  }
  .notify-text {
    font-size: 0.95rem;
  }
  .footer-top {
    padding-top: 4.325rem;
    padding-bottom: 1.625rem;
  }
  .footer-phone {
    font-size: 2.5rem;
    padding-top: 2.675rem;
    letter-spacing: -1.5px;
    word-spacing: 1.5px;
  }
  .footer-info {
    padding-top: 0.3125rem;
    font-size: 14px;
  }
  .footer-social-link {
    padding-top: 1.025rem;
    padding-right: 0.625rem;
  }
  .footer-bottom {
    padding-top: 0;
    padding-bottom: 0;
  }
  .footer-menu-title {
    letter-spacing: -1.3px;
    word-spacing: 3px;
    margin-bottom: 1.7rem;
  }
  .footer-menu-link {
    line-height: 140%;
    font-size: 1.2rem;
  }
  .footer-menu-link-bold {
    margin-bottom: 2.575rem;
  }
  .footer-menu-wrapper {
    margin-top: 1.745rem;
  }
  .footer-menu-list-bold {
    padding-left: 0;
  }
  .footer-copyright, .footer-policy {
    font-size: 1rem;
  }
  .footer-copyright {
    margin-top: 1.25rem;
  }
  .input-group {
    width: 100%;
  }
}
@media (max-width:320px) {
  .navbar-button {
    padding-right: 2rem;
  }
  .trademark-card {
    width: 100%;
  }
  .trademark {
    width: 100%;
  }
}